<h1>餐廳後台</h1>
<a href="/admin/restaurants">Restaurants</a>
<span class="mx-1">|</span>
<a href='/admin/categories'>Categories</a>
<span class="mx-1">|</span>
<a href="/admin/users">Users</a>

<div class="d-flex align-items-center p-3 my-4 text-white-50 bg-purple rounded shadow-sm">
  <form action="/admin/categories" method="POST" class="form-inline">
    <input type="text" class="form-control mr-2" placeholder="新增餐廳種類..." name="name">
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Category Name</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each categories}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <td>{{this.name}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/categories/{{this.id}}">
            Edit
          </a>
        </button>
        <form action="/admin/categories/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
<br />
<br />